:root .theme_dark {
  --bg-color: #000028;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-section-color: #ff0070;
  --title-decor-color: #000028;
  --ui-color: #ff0070;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}