:root .theme_light {
  --bg-color: #fff1f7;
  --heading-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-alt:  #ff0070;
  --title-section-color: #353430;
  --title-decor-color: #353430;
  --ui-color: #353430;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --heading-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-alt:  #ff0070;
    --title-section-color: #353430;
    --title-decor-color: #353430;
    --ui-color: #353430;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
  }
}

@media (prefers-color-scheme: light) {
  @media (min-width: 1024px) {
    .theme_auto .heading {
      text-shadow: 4px 4px 0 var(--accent-color-alt);
    }
  }
}