/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@media (min-width: 768px) {
  :root {
    --side-padding: 20px;
  }
}

.page {
  font-family: var(--main-font), monospace;
  font-size: var(--main-font-size);
  color: var(--text-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}

.main {
  margin-block: 40px;
}

@media (min-width: 768px) {
  .main {
    margin-block: 60px;
  }
}

.header {
  height: 100vb;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--side-padding);
}

.header::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--ui-color);
  border-right: 1px solid var(--ui-color);
  inset-inline-end: var(--side-padding);
}

.header::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--ui-color);
  border-left: 1px solid var(--ui-color);
  inset-block-end: var(--side-padding);
}

.header__theme-menu {
  margin: clamp(4.0625rem, -2.31859rem + 27.226vw, 10.75rem) 0;
}

@media (width > 768px) {
  .header__theme-menu {
    margin: 0 0 27.745% 0;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

@media (width > 768px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }
}

.header__theme-menu-button {
  color: var(--ui-color);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 13px;
  line-height: 100%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--ui-color);
  pointer-events: none;
  padding: 3px 12px;
}

.heading {
  font-size: var(--heading-font-size-mobile);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--heading-color);
}

@media (min-width: 768px) {
  .heading {
    font-size: var(--heading-font-size-desktop);
  }

  .header__title {
    margin-inline-start: calc(-1*(var(--side-padding)));
  }
}

@media (min-width: 1024px) {
  .theme_light .heading {
    text-shadow: 4px 4px 0 var(--accent-color-alt);
  }
}

.header__subtitle {
  display: grid;
  align-content: center;
  margin-inline-start: clamp(0rem, -21.70805rem + 92.621vw, 22.75rem);
}

@media (min-width: 768px) {
  .header__subtitle {
    margin-inline-start: 50.1%;
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-weight: 700;
  line-height: 130%;
  font-size: 18px;
}

.rec-logo {
  color: var(--ui-color);
  position: absolute;
  right: calc(var(--side-padding) + 9px);
}

@media (prefers-color-scheme: light) {
  .theme_auto .rec-logo {
    display: none;
  }
}

.theme_light .rec-logo {
  display: none;
}

.rec-logo-text {
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rec-logo-text::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--ui-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--ui-color);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 var(--side-padding);
  margin-block-end: 50px;
}

@media (min-width: 768px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-end: 80px;
  }
}

@media (width > 768px) {
  .content-section {
    grid-template-columns: 0.98fr 2.02fr;
  }
}

.horizontal-section {
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width > 768px) {
  .horizontal-section .content-section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.content-section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-section__title {
  color: var(--title-section-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

@media (min-width: 768px) {
  .horizontal-section .content-section__title {
    padding-inline-end: clamp(30.75rem, -5.7841rem + 74.3697vw, 41.8125rem);
  }
}

.content-section__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__article .content-section__list .title-decor {
  font-weight: 400;
}

.content-section__subtitle {
  font-weight: 700;
}

.content-section__text {
  line-height: 130%;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.galery-section {
  padding: 0 var(--side-padding);
}

.galery-wrapper {
  padding-block-start: var(--side-padding);
  display: flex;
  flex-direction: column;
  gap: var(--side-padding);
}

@media (min-width: 768px) {
  .galery-wrapper {
    display: grid;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.galery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset-image {
  grid-area: sunset;
}

.ice-cream-image {
  grid-area: ice-cream;
}

.tape-image {
  grid-area: tape;
}

.books-image {
  grid-area: books;
}

.street-image {
  grid-area: street;
}

.footer {
  height: 100vb;
  padding: var(--side-padding);
  position: relative;
}

.footer__title {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--ui-color);
  border-right: 1px solid var(--ui-color);
  inset-inline-end: var(--side-padding);
}

.footer::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--ui-color);
  border-left: 1px solid var(--ui-color);
  inset-block-end: var(--side-padding);
}

/*СОСТОЯНИЯ ЭЛЕМЕНТОВ*/


.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--ui-color);
  outline-offset: -1px;
  opacity: 0.8;
}

:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--ui-color);
}